---
import Card from "./Card.astro";

const servicios = [
    {
        title: "BOOK ACTORAL",
        description: "Tu carta de presentación ante los directores de casting, agencias, productores.",
        bg: "bg-blue-100",
        src:"/actriz-oscuro-small.webp",
        desc: "Actriz en sesión de fotos",
        href: "/servicios/book"
    },
    {
        title: "VIDEOBOOK",
        description: "Un videobook es la herramienta clave para mostrar tu capacidad actoral, transmitiendo emociones y transformándote en distintos personajes frente a la cámara.",
        bg: "bg-blue-100",
        src:"/actores-escena-small.webp",
        desc: "Actores en escena",
        href: "/servicios/videobook"
    },
    {
        title: "DIRECCIÓN ACTORAL",
        description: "Ofrecemos un acompañamiento personalizado para perfeccionar tus habilidades interpretativas y mejores el manejo de las emociones y técnicas frente a la cámara.",
        bg: "bg-blue-100",
        src:"/actores-coach-small.webp",
        desc: "Actores con directora",
        href: "/servicios/direccion"
    }
];
---

<section class="text-gray-600 body-font h-max lg:h-screen" id="servicios">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col">
        
        <div class="flex flex-wrap sm:flex-row flex-col py-6 ">
          <h1 class="sm:w-2/5 text-gray-900 text-shadow title-font custom-text mb-2 sm:mb-0">SERVICIOS</h1>
        </div>
        <div class="h-1 bg-gray-200 rounded overflow-hidden mb-12">
          <div class="w-80 h-full bg-main"></div>
        </div>
      </div>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
       {servicios.map((service) => (

            <Card
                title={service.title}
                description={service.description}
                bg={service.bg}
                href={service.href}
                desc={service.desc}
                src={service.src}
            />
        ))}

      </div>
    </div>
  </section>

  <style>
    .custom-text {
      font-size: 2.7rem /* 36px */;
      line-height: 3rem;
      letter-spacing: 0.2em;
    }
    @media (max-width: 660px) {
      .custom-text {
        font-size: 2.1rem;
        line-height: 1rem;
        letter-spacing: 0.2em;
      }
    }     
    .bg-main {
      background-color: #500606;
    }
    .text-shadow {
        text-shadow: 1px 1px 2px black;
    }
</style>